body{
    background:#111;
    color:white;
    font-family:'Poppins',sans-serif;
}

.navbar-cardapio{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#000;
    position:sticky;
    top:0;
    z-index:1000;
}

.navbar-cardapio h2{
    color:#ff6600;
}

.voltar{
    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

.voltar:hover{
    color:#ff6600;
}

.hero-cardapio{
    text-align:center;
    padding:80px 20px;
}

.hero-cardapio h1{
    font-size:48px;
    margin-bottom:20px;
}

.hero-cardapio p{
    color:#ccc;
    font-size:18px;
}

.pesquisa{
    display:flex;
    justify-content:center;
    margin:40px 0;
}

#pesquisa{
    width:500px;
    max-width:90%;
    padding:15px;
    border:none;
    border-radius:10px;
    font-size:16px;
}

.filtros{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
    margin-bottom:50px;
}

.filtro{
    padding:12px 20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    background:#333;
    color:white;
    transition:.3s;
}

.filtro:hover{
    background:#ff6600;
}

.filtro.ativo{
    background:#ff6600;
}

#produtos{
    padding:20px 60px 80px;
}

.grid-categoria{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
    margin-bottom:50px;
}

.titulo-categoria{
    margin:60px 0 25px;
    color:#ff6600;
    font-size:34px;
    border-left:6px solid #ff6600;
    padding-left:15px;
}

.grid-categoria{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
    margin-bottom:50px;
}